@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome!</h1>
    <h2 class="display-8">We have done Git Hub Configration</h2>
    <h2 class="display-8">Commit the Changes of my code </h2>



  
</div>
